@import "compass";


$color-bg     : #F0F5F7;
$color-edge   : #C1CACD;
$color-border : rgba(#222, 0.2);
$color-text   : #222;
$color-red    : #FF6826;
$color-green  : #32B588;


$gutter: 24px;



@mixin animation ($name:no-name, $dur:3s, $tf:linear, $itc:infinite, $del:0s ) {
    animation: $name $dur $tf $itc $del;
    -webkit-animation: $name $dur $tf $itc $del;
    -moz-animation: $name $dur $tf $itc $del;
    -ms-animation: $name $dur $tf $itc $del;
    -o-animation: $name $dur $tf $itc $del;
}

@mixin keyframes ($name) {
    @keyframes $name { @content }
    @-webkit-keyframes $name { @content }
    @-moz-keyframes $name { @content }
    @-ms-keyframes $name { @content }
    @-o-keyframes $name { @content }
}

@mixin my-transform ($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}


/**
 * RESET
 */
* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: calibri, helvertica, tahoma, arial;
    @include user-select(none);
    @include box-sizing(border-box);
}



/**
 * LAYOUT
 */
html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $color-bg;
}





/**
 * Player Select
 */
.player-select {
    width: 320px;
    height: 320px;
    padding: $gutter;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: - 160px;
    text-align: center;

    > .player-select__msg {
        display: block;
        margin: $gutter/6;
        text-transform: uppercase;
        font-size: 16px;
        color: $color-text;
    }

    > .player-select__title {
        display: block;
        margin-bottom: $gutter;
        text-transform: uppercase;
        font-size: 32px;
        color: $color-text;
    }

    > .player-select__vs {
        display: block;
        font-size:  16px;
        color: rgba($color-text, 0.6);
        margin-bottom: $gutter;
        &:before, &:after {
            content: "";
            display: block;
            width: $gutter*3;
            height: 1px;
            background: $color-border;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: 1px;
        }
        &:after {
            left: auto;
            right: 0;
        }
    }

    > .player-select__items-list {
        display: block;
        text-align: center;
        > .player-select__item {
            display: inline-block;
            width: $gutter*4;
            height: $gutter*4;
            @include border-radius(50%);
            background-color: rgba(0,0,0,0.1);
            background-size: 100% 100%;
            margin-right: $gutter;
            cursor: pointer;
            &:last-child { margin-right: 0; }
            @include transition(all 0.25s ease-out 0s);
            @include box-shadow(
                1px 3px 0 0 $color-edge,
                1px 2px 0 0 $color-edge,
                1px 1px 0 0 $color-edge,
                0 0 0 1px rgba(#fff, 0.7) inset );

            &:hover { @include scale(1.1); }

            &[data-player="rajini"] { background-image: url("/images/rajini.png"); }
            &[data-player="batman"] { background-image: url("/images/batman.png"); }
        }
    }
}


/**
 * Game
 */
.game {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: - 160px;

    > .game__board {
        width: 240px;
        height: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -120px;
        > .game__cell {
            width: 70px;
            height: 70px;
            margin: 0 15px 15px 0;
            background: lighten($color-bg, 4%);
            cursor: pointer;
            @include border-radius(10px);
            @include box-shadow(
                1px 3px 0 0 $color-edge,
                1px 2px 0 0 $color-edge,
                1px 1px 0 0 $color-edge,
                0 0 0 1px rgba(#fff, 0.7) inset );
            float: left;
            @include transition(all 0.25s ease-out 0s);

            &:nth-child(3n + 3) { margin-right: 0; }
            &:nth-child(n + 7) { margin-bottom: 0; }

            &:hover {
                @include scale(1.1);
            }

            &[data-marked="x"],
            &[data-marked="o"] {
                text-align: center;
                cursor: default;
                &:hover { @include scale(1); }
                &:after {
                    display: block;
                    content: "x";
                    text-transform: uppercase;
                    padding: $gutter 0;
                    line-height: $gutter;
                    font-size: 38px;
                    font-weight: bold;
                    color: $color-red;
                }
            }
            &[data-marked="o"] {
                text-align: center;
                &:after {
                    content: "o";
                    font-size: 42px;
                    color: $color-green;
                }
            }
            &.highlight {
                @include animation(glow, 2s, linear, infinite, 0s);
                &[data-marked="x"]{
                    background: $color-red;
                    &:after { color: #fff;}
                }
                &[data-marked="o"]{
                    background: $color-green;
                    &:after { color: #fff;}
                }
            }
        }
    }

    > .game__player {
        display: block;
        width: $gutter*7/2;
        height: $gutter*7/2;
        position: absolute;
        top: -$gutter*7/2;
        left: 50%;
        margin-left: -$gutter*7/4;

        @include border-radius(50%);
        background-color: rgba(0,0,0,0.1);
        background-size: 100% 100%;
        border: 1px solid #fff;

        &[data-player="rajini"] { background-image: url("/images/rajini.png"); }
        &[data-player="batman"] { background-image: url("/images/batman.png"); }
        &[data-player="user"] {
            background-image: url("/images/player.png");
            top: auto;
            bottom: -$gutter*7/2;
        }

        &[data-turn="true"]:after {
            content: "?";
            position: absolute;
            top: -5px;
            right: 0;
            font-size: 24px;
            font-weight: bold;
            color: $color-text;
            @include animation(think, 1s, linear, infinite, 0s);
            @include transform-origin(bottom, center);
        }
    }

    > .game__turn {
        width: 100%;
        height: $gutter;
        position: absolute;
        bottom: -$gutter*5;
        left: 0;
        overflow: hidden;
        text-align: center;
        &:after {
            content: "Your Turn";
            height: $gutter;
            width: 100px;
            line-height: $gutter;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            color: rgba($color-text, 0);
            position: relative;
            top: 10px;
            @include transition(all 0.2s linear 0s);
        }

        &.show {
            &:after {
                color: rgba($color-text, 0.5);
                top: 0;
            }
        }
    }

    > .game__home,
    > .game__reset {
        display: block;
        width: $gutter*3/2;
        height: $gutter*3/2;
        position: absolute;
        bottom: -$gutter*5/2;
        left: $gutter*2;
        background-color: transparent;
        background-image: url("/images/home.png");
        background-size: 100% 100%;
        border: none;
        outline-width: 0;
        @include opacity(0.3);
        &:hover {
            @include opacity(1);
        }
    }
    > .game__reset {
        left: auto;
        right: $gutter*2;
        background-image: url("/images/restart.png");
    }

}





/**
 * Result
 */
.result {
    width: 320px;
    height: 320px;
    padding: $gutter;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: - 160px;
    text-align: center;

    > .result__label {
        display: block;
        margin: $gutter/6;
        text-transform: uppercase;
        font-size: 16px;
        color: rgba($color-text, 0.5);
    }

    > .result__winner {
        display: block;
        width: $gutter*4;
        height: $gutter*4;
        @include border-radius(50%);
        background-color: rgba(0,0,0,0.1);
        background-size: 100% 100%;
        margin: $gutter auto;

        &[data-player="rajini"] { background-image: url("/images/rajini.png"); }
        &[data-player="batman"] { background-image: url("/images/batman.png"); }
        &[data-player="user"] { background-image: url("/images/player.png"); }
    }


    > .result__text {
        display: block;
        margin-bottom: $gutter;
        text-transform: uppercase;
        font-size: 32px;
        color: $color-text;
    }
    > .result__home {
        display: block;
        width: $gutter*3/2;
        height: $gutter*3/2;
        margin: $gutter*2 auto 0;
        border: none;
        background-color: transparent;
        background-image: url("/images/home.png");
        background-size: 100% 100%;
        outline-width: 0;
        @include opacity(0.3);
        &:hover {
            @include opacity(1);
        }
    }

}



@include keyframes(think) {
    0% {
        @include my-transform(scale(1) rotateZ(6deg));
        @include opacity(0.5);
        top: -5px;
    }
    100% {
        @include my-transform(scale(1.5) rotateZ(6deg));
        @include opacity(0);
        top: -15px;
    }
}

@include keyframes(glow) {
    0% {
        @include box-shadow(0 0 0 1px rgba($color-edge, 0));
    }
    50% {
        @include box-shadow(0 0 0 8px $color-edge);
    }
    100% {
        @include box-shadow(0 0 0 1px rgba($color-edge, 0));
    }
}
