@import "compass";


$color-bg     : #F0F5F7;
$color-edge   : #C1CACD;
$color-border : rgba(#222, 0.2);
$color-text   : #222;
$color-red    : #FF6826;
$color-green  : #32B588;


$gutter: 24px;




/**
 * RESET
 */
* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: calibri, helvertica, tahoma, arial;
    @include user-select(none);
    @include box-sizing(border-box);
}



/**
 * LAYOUT
 */
html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $color-bg;
}





/**
 * Player Select
 */
.player-select {
    width: 320px;
    height: 320px;
    padding: $gutter;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: - 160px;
    text-align: center;

    > .player-select__msg {
        display: block;
        margin: $gutter/6;
        text-transform: uppercase;
        font-size: 16px;
        color: $color-text;
    }

    > .player-select__title {
        display: block;
        margin-bottom: $gutter;
        text-transform: uppercase;
        font-size: 32px;
        color: $color-text;
    }

    > .player-select__vs {
        display: block;
        font-size:  16px;
        color: rgba($color-text, 0.6);
        margin-bottom: $gutter;
        &:before, &:after {
            content: "";
            display: block;
            width: $gutter*3;
            height: 1px;
            background: $color-border;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: 1px;
        }
        &:after {
            left: auto;
            right: 0;
        }
    }

    > .player-select__items-list {
        display: block;
        text-align: center;
        > .player-select__item {
            display: inline-block;
            width: $gutter*4;
            height: $gutter*4;
            @include border-radius(50%);
            background-color: rgba(0,0,0,0.1);
            background-size: 100% 100%;
            margin-right: $gutter;
            cursor: pointer;
            &:last-child { margin-right: 0; }
            @include transition(all 0.25s ease-out 0s);
            @include box-shadow(
                1px 3px 0 0 $color-edge,
                1px 2px 0 0 $color-edge,
                1px 1px 0 0 $color-edge,
                0 0 0 1px rgba(#fff, 0.7) inset );


            &:hover {
                @include scale(1.1);
            }

            &[data-player="rajini"] {
                background-image: url("/images/rajini.png");
            }
            &[data-player="batman"] {
                background-image: url("/images/batman.png");
            }
        }
    }
}


/**
 * Player Select
 */
.game {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: - 160px;

    > .game__board {
        width: 240px;
        height: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -120px;
        > .game__cell {
            width: 70px;
            height: 70px;
            margin: 0 15px 15px 0;
            background: lighten($color-bg, 4%);
            cursor: pointer;
            @include border-radius(10px);
            @include box-shadow(
                1px 3px 0 0 $color-edge,
                1px 2px 0 0 $color-edge,
                1px 1px 0 0 $color-edge,
                0 0 0 1px rgba(#fff, 0.7) inset );
            float: left;
            @include transition(all 0.25s ease-out 0s);

            &:nth-child(3n + 3) { margin-right: 0; }
            &:nth-child(n + 7) { margin-bottom: 0; }

            &:hover {
                @include scale(1.1);
            }

            &[data-marked="x"],
            &[data-marked="o"] {
                text-align: center;
                cursor: default;
                &:hover { @include scale(1); }
                &:after {
                    display: block;
                    content: "x";
                    text-transform: uppercase;
                    padding: $gutter 0;
                    line-height: $gutter;
                    font-size: 38px;
                    font-weight: bold;
                    color: $color-red;
                }
            }
            &[data-marked="o"] {
                text-align: center;
                &:after {
                    content: "o";
                    font-size: 42px;
                    color: $color-green;
                }
            }

        }
    }

    > .game__player {
        display: block;
        width: $gutter*7/2;
        height: $gutter*7/2;
        position: absolute;
        top: -$gutter*7/2;
        left: 50%;
        margin-left: -$gutter*7/4;

        @include border-radius(50%);
        background-color: rgba(0,0,0,0.1);
        background-size: 100% 100%;
        border: 1px solid #fff;

        &[data-player="rajini"] {
            background-image: url("/images/rajini.png");
        }
        &[data-player="batman"] {
            background-image: url("/images/batman.png");
        }

        &[data-player="you"] {
            background-image: url("/images/player.png");
            top: auto;
            bottom: -$gutter*7/2;
        }
    }

}
