/**
 * RESET
 */
/* line 44, ../../scss/screen.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: calibri, helvertica, tahoma, arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * LAYOUT
 */
/* line 58, ../../scss/screen.scss */
html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f0f5f7;
}

/**
 * Player Select
 */
/* line 72, ../../scss/screen.scss */
.player-select {
  width: 320px;
  height: 320px;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px;
  text-align: center;
}
/* line 82, ../../scss/screen.scss */
.player-select > .player-select__msg {
  display: block;
  margin: 4px;
  text-transform: uppercase;
  font-size: 16px;
  color: #222222;
}
/* line 90, ../../scss/screen.scss */
.player-select > .player-select__title {
  display: block;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 32px;
  color: #222222;
}
/* line 98, ../../scss/screen.scss */
.player-select > .player-select__vs {
  display: block;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.6);
  margin-bottom: 24px;
}
/* line 103, ../../scss/screen.scss */
.player-select > .player-select__vs:before, .player-select > .player-select__vs:after {
  content: "";
  display: block;
  width: 72px;
  height: 1px;
  background: rgba(34, 34, 34, 0.2);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 1px;
}
/* line 114, ../../scss/screen.scss */
.player-select > .player-select__vs:after {
  left: auto;
  right: 0;
}
/* line 120, ../../scss/screen.scss */
.player-select > .player-select__items-list {
  display: block;
  text-align: center;
}
/* line 123, ../../scss/screen.scss */
.player-select > .player-select__items-list > .player-select__item {
  display: inline-block;
  width: 96px;
  height: 96px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 100% 100%;
  margin-right: 24px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
  -webkit-box-shadow: 1px 3px 0 0 #c1cacd, 1px 2px 0 0 #c1cacd, 1px 1px 0 0 #c1cacd, 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 1px 3px 0 0 #c1cacd, 1px 2px 0 0 #c1cacd, 1px 1px 0 0 #c1cacd, 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 1px 3px 0 0 #c1cacd, 1px 2px 0 0 #c1cacd, 1px 1px 0 0 #c1cacd, 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
}
/* line 132, ../../scss/screen.scss */
.player-select > .player-select__items-list > .player-select__item:last-child {
  margin-right: 0;
}
/* line 140, ../../scss/screen.scss */
.player-select > .player-select__items-list > .player-select__item:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 142, ../../scss/screen.scss */
.player-select > .player-select__items-list > .player-select__item[data-player="rajini"] {
  background-image: url("/images/rajini.png");
}
/* line 143, ../../scss/screen.scss */
.player-select > .player-select__items-list > .player-select__item[data-player="batman"] {
  background-image: url("/images/batman.png");
}

/**
 * Game
 */
/* line 152, ../../scss/screen.scss */
.game {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px;
}
/* line 160, ../../scss/screen.scss */
.game > .game__board {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -120px;
}
/* line 167, ../../scss/screen.scss */
.game > .game__board > .game__cell {
  width: 70px;
  height: 70px;
  margin: 0 15px 15px 0;
  background: #fdfefe;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 0 0 #c1cacd, 1px 2px 0 0 #c1cacd, 1px 1px 0 0 #c1cacd, 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 1px 3px 0 0 #c1cacd, 1px 2px 0 0 #c1cacd, 1px 1px 0 0 #c1cacd, 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 1px 3px 0 0 #c1cacd, 1px 2px 0 0 #c1cacd, 1px 1px 0 0 #c1cacd, 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
  float: left;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}
/* line 182, ../../scss/screen.scss */
.game > .game__board > .game__cell:nth-child(3n + 3) {
  margin-right: 0;
}
/* line 183, ../../scss/screen.scss */
.game > .game__board > .game__cell:nth-child(n + 7) {
  margin-bottom: 0;
}
/* line 185, ../../scss/screen.scss */
.game > .game__board > .game__cell:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 190, ../../scss/screen.scss */
.game > .game__board > .game__cell[data-marked="x"], .game > .game__board > .game__cell[data-marked="o"] {
  text-align: center;
  cursor: default;
}
/* line 193, ../../scss/screen.scss */
.game > .game__board > .game__cell[data-marked="x"]:hover, .game > .game__board > .game__cell[data-marked="o"]:hover {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 194, ../../scss/screen.scss */
.game > .game__board > .game__cell[data-marked="x"]:after, .game > .game__board > .game__cell[data-marked="o"]:after {
  display: block;
  content: "x";
  text-transform: uppercase;
  padding: 24px 0;
  line-height: 24px;
  font-size: 38px;
  font-weight: bold;
  color: #ff6826;
}
/* line 205, ../../scss/screen.scss */
.game > .game__board > .game__cell[data-marked="o"] {
  text-align: center;
}
/* line 207, ../../scss/screen.scss */
.game > .game__board > .game__cell[data-marked="o"]:after {
  content: "o";
  font-size: 42px;
  color: #32b588;
}
/* line 213, ../../scss/screen.scss */
.game > .game__board > .game__cell.highlight {
  animation: glow 2s linear infinite 0s;
  -webkit-animation: glow 2s linear infinite 0s;
  -moz-animation: glow 2s linear infinite 0s;
  -ms-animation: glow 2s linear infinite 0s;
  -o-animation: glow 2s linear infinite 0s;
}
/* line 215, ../../scss/screen.scss */
.game > .game__board > .game__cell.highlight[data-marked="x"] {
  background: #ff6826;
}
/* line 217, ../../scss/screen.scss */
.game > .game__board > .game__cell.highlight[data-marked="x"]:after {
  color: #fff;
}
/* line 219, ../../scss/screen.scss */
.game > .game__board > .game__cell.highlight[data-marked="o"] {
  background: #32b588;
}
/* line 221, ../../scss/screen.scss */
.game > .game__board > .game__cell.highlight[data-marked="o"]:after {
  color: #fff;
}
/* line 227, ../../scss/screen.scss */
.game > .game__player {
  display: block;
  width: 84px;
  height: 84px;
  position: absolute;
  top: -84px;
  left: 50%;
  margin-left: -42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 100% 100%;
  border: 1px solid #fff;
}
/* line 241, ../../scss/screen.scss */
.game > .game__player[data-player="rajini"] {
  background-image: url("/images/rajini.png");
}
/* line 242, ../../scss/screen.scss */
.game > .game__player[data-player="batman"] {
  background-image: url("/images/batman.png");
}
/* line 243, ../../scss/screen.scss */
.game > .game__player[data-player="user"] {
  background-image: url("/images/player.png");
  top: auto;
  bottom: -84px;
}
/* line 249, ../../scss/screen.scss */
.game > .game__player[data-turn="true"]:after {
  content: "?";
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 24px;
  font-weight: bold;
  color: #222222;
  animation: think 1s linear infinite 0s;
  -webkit-animation: think 1s linear infinite 0s;
  -moz-animation: think 1s linear infinite 0s;
  -ms-animation: think 1s linear infinite 0s;
  -o-animation: think 1s linear infinite 0s;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
}
/* line 262, ../../scss/screen.scss */
.game > .game__turn {
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: -120px;
  left: 0;
  overflow: hidden;
  text-align: center;
}
/* line 270, ../../scss/screen.scss */
.game > .game__turn:after {
  content: "Your Turn";
  height: 24px;
  width: 100px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: rgba(34, 34, 34, 0);
  position: relative;
  top: 10px;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 285, ../../scss/screen.scss */
.game > .game__turn.show:after, .game > .game__turn.showturn:after {
  color: rgba(34, 34, 34, 0.5);
  top: 0;
}
/* line 292, ../../scss/screen.scss */
.game > .game__turn.showover:after {
  content: "Game Over";
  color: #ff6826;
  top: 0;
}
/* line 300, ../../scss/screen.scss */
.game > .game__turn.showloss:after {
  content: "You Loss";
  color: #ff6826;
  top: 0;
}
/* line 308, ../../scss/screen.scss */
.game > .game__turn.showwin:after {
  content: "You Win";
  color: #32b588;
  top: 0;
}
/* line 319, ../../scss/screen.scss */
.game > .game__home,
.game > .game__reset {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: -60px;
  left: 48px;
  background-color: transparent;
  background-image: url("/images/home.png");
  background-size: 100% 100%;
  border: none;
  outline-width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 332, ../../scss/screen.scss */
.game > .game__home:hover,
.game > .game__reset:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 336, ../../scss/screen.scss */
.game > .game__reset {
  left: auto;
  right: 48px;
  background-image: url("/images/restart.png");
}

/**
 * Result
 */
/* line 351, ../../scss/screen.scss */
.result {
  width: 320px;
  height: 320px;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px;
  text-align: center;
}
/* line 361, ../../scss/screen.scss */
.result > .result__label {
  display: block;
  margin: 4px;
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.5);
}
/* line 369, ../../scss/screen.scss */
.result > .result__winner {
  display: block;
  width: 96px;
  height: 96px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 100% 100%;
  margin: 24px auto;
}
/* line 378, ../../scss/screen.scss */
.result > .result__winner[data-player="rajini"] {
  background-image: url("/images/rajini.png");
}
/* line 379, ../../scss/screen.scss */
.result > .result__winner[data-player="batman"] {
  background-image: url("/images/batman.png");
}
/* line 380, ../../scss/screen.scss */
.result > .result__winner[data-player="user"] {
  background-image: url("/images/player.png");
}
/* line 384, ../../scss/screen.scss */
.result > .result__text {
  display: block;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 32px;
  color: #222222;
}
/* line 391, ../../scss/screen.scss */
.result > .result__home {
  display: block;
  width: 36px;
  height: 36px;
  margin: 48px auto 0;
  border: none;
  background-color: transparent;
  background-image: url("/images/home.png");
  background-size: 100% 100%;
  outline-width: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 402, ../../scss/screen.scss */
.result > .result__home:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@keyframes think {
  /* line 412, ../../scss/screen.scss */
  0% {
    transform: scale(1) rotateZ(6deg);
    -webkit-transform: scale(1) rotateZ(6deg);
    -moz-transform: scale(1) rotateZ(6deg);
    -ms-transform: scale(1) rotateZ(6deg);
    -o-transform: scale(1) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    top: -5px;
  }

  /* line 417, ../../scss/screen.scss */
  100% {
    transform: scale(1.5) rotateZ(6deg);
    -webkit-transform: scale(1.5) rotateZ(6deg);
    -moz-transform: scale(1.5) rotateZ(6deg);
    -ms-transform: scale(1.5) rotateZ(6deg);
    -o-transform: scale(1.5) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    top: -15px;
  }
}

@-webkit-keyframes think {
  /* line 412, ../../scss/screen.scss */
  0% {
    transform: scale(1) rotateZ(6deg);
    -webkit-transform: scale(1) rotateZ(6deg);
    -moz-transform: scale(1) rotateZ(6deg);
    -ms-transform: scale(1) rotateZ(6deg);
    -o-transform: scale(1) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    top: -5px;
  }

  /* line 417, ../../scss/screen.scss */
  100% {
    transform: scale(1.5) rotateZ(6deg);
    -webkit-transform: scale(1.5) rotateZ(6deg);
    -moz-transform: scale(1.5) rotateZ(6deg);
    -ms-transform: scale(1.5) rotateZ(6deg);
    -o-transform: scale(1.5) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    top: -15px;
  }
}

@-moz-keyframes think {
  /* line 412, ../../scss/screen.scss */
  0% {
    transform: scale(1) rotateZ(6deg);
    -webkit-transform: scale(1) rotateZ(6deg);
    -moz-transform: scale(1) rotateZ(6deg);
    -ms-transform: scale(1) rotateZ(6deg);
    -o-transform: scale(1) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    top: -5px;
  }

  /* line 417, ../../scss/screen.scss */
  100% {
    transform: scale(1.5) rotateZ(6deg);
    -webkit-transform: scale(1.5) rotateZ(6deg);
    -moz-transform: scale(1.5) rotateZ(6deg);
    -ms-transform: scale(1.5) rotateZ(6deg);
    -o-transform: scale(1.5) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    top: -15px;
  }
}

@-ms-keyframes think {
  /* line 412, ../../scss/screen.scss */
  0% {
    transform: scale(1) rotateZ(6deg);
    -webkit-transform: scale(1) rotateZ(6deg);
    -moz-transform: scale(1) rotateZ(6deg);
    -ms-transform: scale(1) rotateZ(6deg);
    -o-transform: scale(1) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    top: -5px;
  }

  /* line 417, ../../scss/screen.scss */
  100% {
    transform: scale(1.5) rotateZ(6deg);
    -webkit-transform: scale(1.5) rotateZ(6deg);
    -moz-transform: scale(1.5) rotateZ(6deg);
    -ms-transform: scale(1.5) rotateZ(6deg);
    -o-transform: scale(1.5) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    top: -15px;
  }
}

@-o-keyframes think {
  /* line 412, ../../scss/screen.scss */
  0% {
    transform: scale(1) rotateZ(6deg);
    -webkit-transform: scale(1) rotateZ(6deg);
    -moz-transform: scale(1) rotateZ(6deg);
    -ms-transform: scale(1) rotateZ(6deg);
    -o-transform: scale(1) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    top: -5px;
  }

  /* line 417, ../../scss/screen.scss */
  100% {
    transform: scale(1.5) rotateZ(6deg);
    -webkit-transform: scale(1.5) rotateZ(6deg);
    -moz-transform: scale(1.5) rotateZ(6deg);
    -ms-transform: scale(1.5) rotateZ(6deg);
    -o-transform: scale(1.5) rotateZ(6deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    top: -15px;
  }
}

@keyframes glow {
  /* line 425, ../../scss/screen.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }

  /* line 428, ../../scss/screen.scss */
  50% {
    -webkit-box-shadow: 0 0 0 8px #c1cacd;
    -moz-box-shadow: 0 0 0 8px #c1cacd;
    box-shadow: 0 0 0 8px #c1cacd;
  }

  /* line 431, ../../scss/screen.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }
}

@-webkit-keyframes glow {
  /* line 425, ../../scss/screen.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }

  /* line 428, ../../scss/screen.scss */
  50% {
    -webkit-box-shadow: 0 0 0 8px #c1cacd;
    -moz-box-shadow: 0 0 0 8px #c1cacd;
    box-shadow: 0 0 0 8px #c1cacd;
  }

  /* line 431, ../../scss/screen.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }
}

@-moz-keyframes glow {
  /* line 425, ../../scss/screen.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }

  /* line 428, ../../scss/screen.scss */
  50% {
    -webkit-box-shadow: 0 0 0 8px #c1cacd;
    -moz-box-shadow: 0 0 0 8px #c1cacd;
    box-shadow: 0 0 0 8px #c1cacd;
  }

  /* line 431, ../../scss/screen.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }
}

@-ms-keyframes glow {
  /* line 425, ../../scss/screen.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }

  /* line 428, ../../scss/screen.scss */
  50% {
    -webkit-box-shadow: 0 0 0 8px #c1cacd;
    -moz-box-shadow: 0 0 0 8px #c1cacd;
    box-shadow: 0 0 0 8px #c1cacd;
  }

  /* line 431, ../../scss/screen.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }
}

@-o-keyframes glow {
  /* line 425, ../../scss/screen.scss */
  0% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }

  /* line 428, ../../scss/screen.scss */
  50% {
    -webkit-box-shadow: 0 0 0 8px #c1cacd;
    -moz-box-shadow: 0 0 0 8px #c1cacd;
    box-shadow: 0 0 0 8px #c1cacd;
  }

  /* line 431, ../../scss/screen.scss */
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    -moz-box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
    box-shadow: 0 0 0 1px rgba(193, 202, 205, 0);
  }
}
